<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title><%= category.title %></title>
  </head>
  
  <body>

    <%- include("partials/navbar") %>

<div class="category-background">
  <div class="category-header-container">
  <div class="category-header">
    <h1><%= category.name %></h1>
    <button
    class=" category-header-btn btn btn-danger"
    data-bs-toggle="modal"
    data-bs-target="#passwordModal"
    data-action="delete-category"
    >
    <i class="bi bi-trash"></i>
    </button>
  </div>

</div>


      <div class="category-main-content">
        <a href="/">
          <button class="btn btn-light">Back to Home</button>
        </a>
      
        <div class="card-container">
      
        <% if (items.length === 0) { %>
          <div class="alert alert-info">
        No items have been added to this category yet.
          </div>
        <% } else { %>
        <% items.forEach((item) => { %>
          <a class="card-item" href="/<%= category.slug %>/<%= encodeURIComponent(item.name) %>">
        <div class="item-info">
          <p><%= item.name %></p>
          <p>$<%= item.price %></p>
        </div>
        <img class="card-image" src="<%= item.picture %>" alt="<%= item.name %>">
          </a>
        <% }) %>
        <% } %>
      
        <button
          type="button"
          class="btn btn-light"
          data-bs-toggle="modal"
          data-bs-target="#createCategoryModal"
        >
          <div class="create-category-text-container">
        <span class="plus-symbol">+</span>
        <span>Add an item</span>
          </div>
        </button>
      
        </div>
      </div>
    </div>
    <%- include("partials/itemModals.ejs") %>
        <%- include("createItemModal.ejs") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="/js/item.js"></script>
  </body>
</html>
